/* Module specific css */

div.mediaTime span {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: darkred;
}

.extension {
    position: absolute;
    font-size: 24px;
    color: black;
    padding: 4px;
    background-color: aqua;
}