// User editable

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  color: $colour_white;
  background-color: $colour_black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul, ol, p {
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.mainTitle {
  font-size: 50px;
  text-align: center;
  color: $colour_white;
  margin: 5px;
}

#loomSE_subtitles div {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;

  p {
    display: inline;
    background: $colour_white;
    font-size: 18px;
    font-weight: bold;
    color: $colour_black;
    padding: 5px;
  }
}